html{
    --color-background: #FAFAFC;
    --color-border: #DDDDDD;
    --color-text-light: #666666;
    --spacing-small: 8px;
}

body{
    margin: 0;
    font-family: Roboto,sans-serif;
}

a{
    color: inherit;
}
